name: Build

on:
  push:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-24.04

    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            g++
            libsdl3-dev
    
      - name: just run make
        run: make

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/app
