name: Build

on:
  push:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-24.04

    steps:
      - uses: libsdl-org/setup-sdl@main
        id: sdl
        with:
          install-linux-dependencies: true
          version: 3-latest
          version-sdl-image: 3-latest
          
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            g++ \
            libsdl3
    
      - name: just run make
        run: make

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/app
